/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline: none;
    color: inherit;
}
a:focus {
    outline: none;
    color: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d4d473;
    color: black;
    line-height: 1.6;
    padding-left: 0;
    padding-right: 0;
}

/* Базовые контейнеры */
.desktop-1,
.desktop-1 * {
    box-sizing: border-box;
}
.desktop-1 {
    background: rgba(225, 226, 0, 0.6);
    position: relative;
    overflow: hidden;
}

/* Шапка и навигация */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 50px;
    background: none;
    font-weight: bold;
    margin-bottom: 50px;
}
.nav-menu {
    list-style: none;
    display: flex;
}
.nav-menu li {
    margin-left: 20px;
}
.nav-menu a {
    color: black;
    transition: transform .2s;
}
.nav-menu a:hover {
    transform: scale(1.05);
}

/* Кнопка входа */
.auth .login-btn {
    background: rgba(225, 226, 0, 0.6);
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform .3s ease;
}
.auth .login-btn:hover {
    transform: scale(1.1);
}

/* Hero */
.hero {
    text-align: center;
    padding: 40px;
}
.hero h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.hero .subtext {
    font-size: 16px;
    margin-bottom: 20px;
}
.hero-buttons {
    display: inline-flex;
    gap: 10px;
}
button.btn {
    background-color: black;
    color: #000;
    border-color: #c3c367;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: transform .2s;
    outline: none;
    border-radius: 4px;
}
button.btn:hover {
    transform: scale(1.05);
}
